#content {
    max-width: 1600px;
    margin: 0 auto;

}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg{
    text-align:center;
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}
#hero-msg h4{
    text-align: center;
    color: white;

}
.button-box{
    text-align: center;
    color: black;
    grid-column: 1/4;
    grid-row: 1/3;
}
main section{
    text-align: center;
    color: black;
}
#background{
    height: 725px;
    color: black;
    background-color: #499167;
}
body{
    background-color: #396E94;
    color: black;
}
header{
    background-color: #5FDD9D;
    color: black;
    display: grid;
    grid-template-columns: 230px auto;
}
nav{
    background-color: #396E94;
    color: black;
    display: flex;
    justify-content: space-around;
}
nav a:hover{
    background-color: #5FDD9D;
    color: black;
}
.book{
    background-color:#396E94;
    color:black;
    text-decoration: none;
}
.join{
    background-color: #5FDD9D;
    color: black;
    text-decoration: none;
}
.book:hover{
    
    background-color: #396E94;
    color: black;
}
.join:hover{
    background-color: #5FDD9D;
    color: black;
}
#background{
    background-color: #5FDD9D;
    color: black;
}
.msg{
    background-color: #5FDD9D;
    color: black;
}
.msg h2{
    color: black;
}
.msg p{
    color: black;

}
footer{
    background-color: #5FDD9D;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: black;
    text-decoration: none;

}
footer a:hover{
    color: black;

}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title{
    color:white;
}
h4{
    color:black;
}
.icon{
    width: 80px;
}
#hero-msg{
    width: 100%;
}
#hero{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
margin-top: -100px;
}
#hero-img{
    width: 100%;
    
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.book{
    color: white;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img, .mountains{
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px gray;
}
.msg{
    padding: 35px;
    box-shadow: 5px 5px 10px gray;
    grid-column: 6/10;
    grid-row: 6/7;
}
.card-img{
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px gray;
}
.card-img{
    opacity: .6;
    transform: scale(1.1);
}
#river_heading{
    text-align: center;
}
.main_section{
    text-align: center;
}
